<!-- addPatient.ejs -->
<div class="card bg-light mb-3">
    <div class="card-header text-primary">Add New Patient</div>
    <div class="card-body">
      <h5 class="card-title">Need to register a new patient?</h5>
      <p class="card-text">Click the button below to add a new patient to the system.</p>
      <a href="/patients/add" class="btn btn-primary">Add Patient</a>
    </div>
  </div>
  