<div class="card bg-light mb-3">
    <div class="card-header text-primary">Patients Overview</div>
    <div class="card-body">
      <h5 class="card-title">Total Patients</h5>
      <p class="card-text">Total Number of Patients: <span id="totalPatients" class="font-weight-bold"><%= totalPatients %></span></p>
    </div>
  </div>
  