<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <div class="register-container">
        <h1 class="register-heading">Register</h1>
        <form action="/users/register" method="post" class="register-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <label for="role">Role:</label>
                <select name="role" id="role" required>
                    <option value="doctor">Doctor</option>
                    <option value="patient">Patient</option>
                    <!-- Add more options as needed -->
                </select>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="register-btn">Register</button>
        </form>
        <p class="login-link">Already have an account? <a href="/users/login">Login here</a>.</p>
    </div>
</body>
</html>
